* {
  margin: 0;
  padding: 0;
  position: relative;
}

.container {

 
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  height: 50rem;
  width: 50rem;
 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;

}
input {
  width: 10rem;
  height: 2rem;
  text-align: center;
  font-size: 1.3rem;
}
.value {
  font-size: 5rem;
  color: black;
}

.button {
  height: auto;
  width: auto;
  color: black;
 
  padding: 5px;
  border-radius: 3px;
}
